html{
    background: url("aaaa.jpg") repeat-x top;
      background-attachment: fixed;
    box-sizing: border-box;
}
body{
    padding-left: 2%;
    padding-right: 2%;
}
a:hover{
    color: aqua
}
a{
border-spacing: 2px;
    text-decoration: none;
   color: aliceblue;
}


.main1{
    display: flex;
    color: #d6a51d;
    
   font-size:30px;
       font-family:fantasy;
  }
ul{
   
    list-style-type: none;
     margin: 0; 
    padding: 2px;
    
}
ul li{
     display: inline; /
    margin-right: 3px; 
    padding: 2px; 
}
#logo{
    display: flex;
}
#twitter{
    top:400px;
}